<div class="container">
  <div class="row" *ngIf="show$ | async as show">
    <div class="col-sm-12">
      <a href="https:www.tvmaze.com/shows/{{ show.id }}/{{ show.name }}">
        <h1>{{ show.name }}</h1>
      </a>
    </div>
    <div class="col-lg-4 col-sm-12 text-center">
      <img
        src="{{ show.image }}"
        alt="show image"
        class="img-fluid show-image"
      />
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="show-info">
        <div [innerHtml]="show.summary"></div>
        <p>
          Language: <span>{{ show.language }}</span>
        </p>
        <p>
          Genres:
          <span *ngFor="let genre of show.genres" class="genre-type">{{
            genre
          }}</span>
        </p>
        <p>
          Status:
          <span>{{ show.status }}</span>
        </p>
        <p>
          Premiered:
          <span>{{ show.premirered | date: "dd-MM-yyyy" }}</span>
        </p>
        <p>
          Official site:
          <a href="{{ show.officialSite }}">{{ show.officialSite }}</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-5" *ngIf="id">
    <div class="col-md-4">
      <app-cast [id]="id"></app-cast>
    </div>
    <div class="col-md-4">
      <app-characters [id]="id"></app-characters>
    </div>
    <div class="col-md-4">
      <app-episodes [id]="id"></app-episodes>
    </div>
  </div>
</div>
